name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      # Opcional: iniciar seu backend/front caso seja uma app local
      # - name: Start server
      #   run: npm start &
      #   env:
      #     NODE_ENV: test

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome  # ou firefox | electron
          # build: 'npm run build'  # Se precisar buildar projeto
          # start: 'npm start'      # Se precisar subir app local

      - name: Upload Cypress videos and screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts
          path: |
            cypress/videos
            cypress/screenshots